/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Inder', sans-serif;
    font-weight: bold;
    background-color: #D1CEBF; /* tan */
    color: #199DEC; /* turquiose */
    margin: 0;
    padding: 0;
}
.game, .intro {
    margin: 0;
    width: 100%;
}
.intro header,
.game header {
    background-color: #171A1A; /* black */
    color: #D1CEBF; /* tan */
    border-bottom: 12px solid #199DEC; /* turquiose */
    border-radius: 0;
}
i {
	width: 32px;
}

/*Default States*/
.game {
	display: none;
}

.logout{
	display: none;
}
.username{
	padding-top: 10px;
	color: white;
	padding-right: 20px;
}
.left {
	float:left;
}
.logo {
	height: 220px;
	width: 220px;
	padding-right: 20px;
}












