/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}
body {
    font-family: 'Inder', sans-serif;
    font-weight: bold;
    background-color: #D1CEBF; /* tan */
    color: #199DEC; /* turquiose */
    margin: 0;
    padding: 0;
}
.game, .intro {
    margin: 0;
    width: 100%;
    height: 100%;
}
.intro header,
.game header {
    background-color: #171A1A; /* black */
    color: #D1CEBF; /* tan */
    border-bottom: 12px solid #199DEC; /* turquiose */

    /* busted */
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(9px,rgba(25,157,236,1)), color-stop(12px,rgba(23,26,26,1))) 0 0 12px 0 repeat repeat;
    -webkit-border-image: -webkit-linear-gradient(top, rgba(25,157,236,1) 9px,rgba(23,26,26,1) 12px) 0 0 12px 0 repeat repeat;
    border-image: linear-gradient(to bottom, rgba(25,157,236,1) 9px,rgba(23,26,26,1) 12px) 0 0 12px 0 repeat repeat;

    border-radius: 0;
    margin-bottom: 0;
    padding: 30px;
    overflow: hidden;
    height: 200px;
}
.intro h1,
.game h1 {
    font-size: 45px;
    text-align: center;
}
.intro h2,
.game h2 {
    text-align: center;
}
.twitter-timeline {
    float: left;
    margin-right: 20px;
}
.beer-logo {
    border-radius: 200px;
    border: 12px solid #199DEC; /* turquiose */
    background-color: #22282E; /* dark gray */
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 30px;
    float: left;
}

.content {
    height: 100%;
    padding: 20px;
    border-top: 1px solid #05202F;
    box-sizing: border-box;
}
@media (min-width: 767px) {
    .content .span6 {
        /* todo: this should be a gradient */
        border-right: 1px solid #A8A79B;
    }
}
.content .span6, .content .span5 {
    height: 100%;
}

.leaderboard {
    margin: 0;
}
.leaderboard li {
    padding-top: 20px;
}
.leaderboard img {
    display: block;
    float: left;
    padding: 5px;
    height: 60px;
    width: 60px;
    margin: 0 15px;
    border-radius: 5px;
    background-color: #171A1A; /* black */
}
.leaderboard .username {
    display: block;
}
.leaderboard .score {
    float: left;
}
.leaderboard h2 {
    font-size: 20px;
    text-align: left;
    line-height: 20px;
}
.leaderboard label {
    display: inline;
}
.game footer {
    padding-right: 30px;
    border-top: 3px solid #199DEC;
    background-color: #22282E;
    position: fixed;
    bottom: 0;
    width: 100%;
	height: 35px;
}

.intro .play-now {
    text-align: center;
    padding-top: 15px;
}
.intro p {
    color: #333;
}


i {
	width: 32px;
}

/*Default States*/
.game {
	display: none;
}

.logout{
	display: none;
}
.left {
	float:left;
}
.logo {
	height: 220px;
	width: 220px;
	padding-right: 20px;
}

.circle-list li{
    border-bottom: 1px dashed #ccc;
    clear: left;
}

.circle-list h2{
    position: relative;
    margin: 0;
}

.circle-list p{
    margin: 0;
}
ol {
	counter-reset: li;
	list-style: none;
	font: 15px 'Inder', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.leaderboard.circle-list h2:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;    
    left: -48px;
    top: 5px;
    background: #171A1A;
    height: 1.5em;
    width: 1.5em;
    border: .1em solid rgba(25, 157, 236, 1);
    text-align: center;
    font: italic bold 1em/1.5em Georgia, Serif;
    font-size: 1.5em;
    color: #ccc;
    border-radius: 1.5em;   
}

.circle-list li:hover h2:before{
    background-color: #199DEC;
    border-color: rgba(0,0,0,.08);
    color: #444;
}

.drink-modal h1 {
	text-align: center;
	font-size: 10em;
	text-transform: uppercase;
	line-height: 170px;
	color: #199DEC;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #171A1A;
	
}
.drink-modal {
	background-color: #171A1A;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 2000px;
	margin-left: -1000px;
	margin-top: -100px;
	display: block;
	border-top: 5px solid #199DEC;
	border-bottom: 5px solid #199DEC;
	display: none;
	opacity: 0;
}
.drink-modal.bounceIn{
	opacity: 1;
	display: block;
}
.drink-modal.bounceOut{
	opacity: 0;
}
.answers button {
	margin:5px;
}

