

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.brand {
	font-family: 'Inder', sans-serif;
	font-weight: bold;
}
i {
	width: 32px;
}

/*Default States*/
.game {
	display: none;
}

.logout{
	display: none;
}
.username{
	padding-top: 10px;
	color: white;
	padding-right: 20px;
}












